<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="src/main/resources/xml/toc.xml">
      </toc>
      <toc
            file="src/main/resources/xml/cryostatToc.xml"
            primary="true">
      </toc>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.openjdk.jmc.ui.preferences.MissionControlPage"
            class="io.cryostat.plugin.preferences.CryostatPreferencePage"
            id="io.cryostat.plugin.preferences.CryostatPreferencePage"
            name="Cryostat Plugin"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="io.cryostat.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension point="org.eclipse.ui.startup">
      <startup class="io.cryostat.plugin.CryostatPlugin"></startup>
   </extension>

</plugin>
